.search__info{
    padding: 20px;
}
.search__info > p {
    margin-bottom: 10px;
    font-size: 14px;
}
.search__info > h1 {
    margin-bottom: 30px;
}
.tags > Button{
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
}