.header{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    align-items: center;
    position: static;
    top: 0;
    background-color: rgb(255, 255, 255);
    z-index: 100;
    width: 100%;
}


.header__icon {
    object-fit: contain;
    height: 50px;
    margin-left: 15px;
}

.header__center{
    display: flex;
    flex: 1;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 999px;
}
.header__center > input{
    border: none;
    width: 250px;
    outline-width: 0;
    padding: 10px;
}



.header__right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}
