.banner{
    height: 50vh;
    position: relative;
    background: url("../../Assests/back.jpg") center;
}

.banner__info{
    background-color: black;
    color: white;
    padding-top: 21vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 36px;
    width: 300px;
}
.banner__info > button {
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    /* height: 40px; */
    margin-top: 10px;
    font-weight: 600;
    /* width: 1000px; */
}

.banner__info > button:hover {
    background-color: white;
    color: #ff7779;
}

.banner__info >h5{
    margin-top: 8px;
}

.banner__search{
    display: flex;
    flex-direction: column;
}

.banner__searchButton{
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779; 
    border-color: grey;
}
